/* Clase de componente general */
html,
body {
  color: white;
  background-color: #308655;
}

/* Clase defninida */
.menu {
  text-align: left;
  background-color: #222222;
  color: rgb(251, 201, 33);
  padding: 10px;
  font-family: "Quicksand", sans-serif;
}

.titulo {
  font-size: 20pt;
  padding-left: 1%;
}

.botones {
  padding-right: 1%;
}

.carta {
  position: relative;
  width: 100px;
  height: 150px;
  left: 100px;
  margin-left: -65px;
}

.scoreboard {
  width: 170px;
  height: 50px;
  border-radius: 12px;
  background-color: #222222;
  font-size: 23pt;
  padding-left: 10%;
  padding-bottom: 1%;
}

.score-title {
  padding-top: 4%;
  padding-right: 15%;
}

.points {
  padding-bottom: 1%;
  padding-right: 10%;
}

/* Clase de id */
#machine-cards,
#player-cards {
  height: 180px;
}

#marcador {
  text-align: left;
  padding: 1%;
}

#player-name {
  padding-top: 0.3%;
  padding-left: 2%;
}
